In [1]:
import torch
import pandas as pd

In [2]:
cd ..

/home/yann/IVISpaces

In [18]:
RESULTS=torch.load('Results/NEW/UCI2020-10-02-16:20.pt')

In [19]:
df=pd.DataFrame(data=RESULTS).transpose()

In [20]:
from itertools import product
methods=['MFVI','GeNNeVI','FuNNeVI']
metrics=['RMSE','LPP']
index=pd.MultiIndex.from_product([methods,metrics])

df[index]

                 MFVI              GeNNeVI             FuNNeVI
                 RMSE       LPP       RMSE       LPP      RMSE       LPP
boston      10.789930 -6.063211   3.425495 -1.022583  4.706583 -1.082688
concrete    24.210943 -4.903718  10.473861 -1.131399  9.285707 -1.117992
energy      12.302035 -5.774653   4.307869 -1.045907  5.432652 -1.104718
powerplant  18.135801 -4.079566   4.670740 -0.922548  4.752327 -0.930378
wine         0.918776 -6.614081   0.662882 -1.254623  0.632322 -1.235610
yacht       12.978594 -4.336017   8.120041 -1.084389  9.456685 -1.238439

In [21]:
methods=['MFVI','GeNNeVI','FuNNeVI']
metrics=['std noise']
index=pd.MultiIndex.from_product([methods,metrics])

df[index]

                MFVI   GeNNeVI   FuNNeVI
           std noise std noise std noise
boston      0.010349  0.987252  0.996351
concrete    0.010343  0.990500  0.996555
energy      0.010347  0.987844  0.989689
powerplant  0.010895  0.956133  0.955980
wine        0.010346  0.979929  0.993952
yacht       0.010347  0.981108  1.006654

In [22]:
methods=['MFVI','GeNNeVI','FuNNeVI']
metrics=['LPP','WAIC']
index=pd.MultiIndex.from_product([methods,metrics])

df[index]

                MFVI             GeNNeVI              FuNNeVI
                 LPP      WAIC       LPP       WAIC       LPP          WAIC
boston     -0.350671 -0.442555 -0.292835  -1.630110 -4.636684 -37645.820278
concrete   -0.563591 -0.651905 -0.271167  -2.514726 -0.716275   -235.050183
energy     -0.215813 -0.274257  1.730169   1.454980  1.580429      1.531811
powerplant  0.026944  0.021856  0.118005   0.112465  0.116238     -0.043934
wine       -1.140362 -1.168185 -1.351174  -1.626190 -1.944269     -1.995161
yacht       0.790859  0.649023  1.118813 -35.730663  1.691180      0.216271

In [5]:
pd.DataFrame(data=RESULTS).transpose()

             FuNNeVI                                                          \
                RMSE       LPP         WAIC      PICP       MPIW    time [s]
boston      3.499170 -9.706475 -5033.416436  0.411765   3.490517   58.667553
concrete    4.716959 -0.551132    -0.562228  0.815534  10.887134   85.777502
energy      0.418305  1.723983     1.708440  0.909091   1.377645   62.911350
powerplant  3.686524  0.111957     0.111581  0.956113  15.227015  526.151184
wine        0.699910 -2.075601    -2.081987  0.743750   1.381247  199.641761
yacht       0.692175  0.982335     0.518029  0.903226   1.309118   32.205426

             GeNNeVI
                RMSE       LPP      WAIC      PICP       MPIW    time [s]
boston      2.467883 -0.260145 -1.653744  0.862745   6.209254   55.124422
concrete    4.390738 -0.224997 -0.738069  0.834951  11.492492  109.351131
energy      0.365739  1.899910  1.547915  0.948052   1.455620   84.581293
powerplant  3.663045  0.116750  0.110883  0.957158  15.285971  677.902806
wine        0.687988 -1.533913 -1.889386  0.787500   1.690457  275.106008
yacht       0.573080  2.201985 -1.444338  0.935484   1.512225   35.752383

In [65]:
pd.DataFrame(data=RESULTS).transpose()

             FuNNeVI                                                          \
                RMSE       LPP         WAIC      PICP       MPIW    time [s]
boston      3.410029 -4.065264 -7236.635576  0.588235   6.305422  100.204100
concrete    4.705148 -0.535952  -194.918032  0.815534  12.591081  169.540660
energy      0.474275  1.595990     1.567385  0.883117   1.550657  126.602165
powerplant  3.655491  0.119665     0.106125  0.959248  15.203786  991.791639
wine        0.818962 -2.318930    -2.469340  0.737500   1.540062  401.863890
yacht       0.749524  1.019889   -17.449427  0.870968   1.527083   51.101782

             GeNNeVI
                RMSE       LPP      WAIC      PICP       MPIW    time [s]
boston      2.344702 -0.105311 -0.997385  0.843137   6.478037   55.259652
concrete    4.739773 -0.284358 -0.655225  0.834951  12.757685  102.308992
energy      0.390879  1.846950  1.318433  0.935065   1.441588   92.562668
powerplant  3.663800  0.117330  0.107851  0.960293  15.155389  779.957575
wine        0.721144 -1.788957 -2.105563  0.781250   1.587880  296.848780
yacht       0.491450  2.174269 -0.300490  0.903226   1.604549   31.518639

In [46]:
RESULTS=torch.load('Results/NEW/FuNoise2020-10-01-17:19.pt')

RESULTS_={}
for i in RESULTS:
    for dataset in i.keys():
        metrics= list(i[dataset].keys())
        for j in metrics:
            i[dataset][('FuNNeVI',j)] = i[dataset].pop(j)
    RESULTS_.update(i)

In [47]:
pd.DataFrame(data=RESULTS_).transpose()

             FuNNeVI
                RMSE       LPP         WAIC      PICP       MPIW    time [s]
boston      3.283971 -1.873660 -2347.286502  0.745098   6.479837   43.316867
concrete    5.261525 -0.625764    -0.661693  0.864078  12.402017   85.345163
energy      0.385033  1.770556     1.711370  0.883117   1.172862   74.896005
powerplant  3.646586  0.122132    -4.400473  0.965517  15.185143  486.080443
wine        0.699884 -1.656919    -1.668136  0.812500   1.640723  129.821529
yacht       1.088323  1.178053     1.138152  0.935484   3.335503   26.053682

In [58]:
RESULTS_GeN=torch.load('Results/NEW/GeNoise2020-10-01-19:08.pt')

RESULTS_G={}
for i in RESULTS_GeN:
    for dataset in i.keys():
        metrics= list(i[dataset].keys())
        for j in metrics:
            i[dataset][('GeNNeVI',j)] = i[dataset].pop(j)

    RESULTS_[dataset].update(i[dataset])

In [59]:
df=pd.DataFrame(data=RESULTS_).transpose()
df[[('GeNNeVI','RMSE'),('GeNNeVI','LPP'),('FuNNeVI','RMSE'),('FuNNeVI','LPP')]]

             GeNNeVI             FuNNeVI
                RMSE       LPP      RMSE       LPP
boston      2.343591 -0.038041  3.283971 -1.873660
concrete    5.172817 -0.302844  5.261525 -0.625764
energy      0.368241  1.900519  0.385033  1.770556
powerplant  3.634457  0.124018  3.646586  0.122132
wine        0.675931 -1.424935  0.699884 -1.656919
yacht       0.727912  1.822367  1.088323  1.178053

In [27]:
RESULTS_

[{'boston': {('FuNNeVI', 'RMSE'): 3.283970594406128,
   ('FuNNeVI', 'LPP'): -1.8736597299575806,
   ('FuNNeVI', 'WAIC'): -2347.2865015268326,
   ('FuNNeVI', 'PICP'): 0.7450980544090271,
   ('FuNNeVI', 'MPIW'): 6.479836940765381,
   ('FuNNeVI', 'time [s]'): 43.31686661299318}},
 {'concrete': {('FuNNeVI', 'RMSE'): 5.261524677276611,
   ('FuNNeVI', 'LPP'): -0.6257640719413757,
   ('FuNNeVI', 'WAIC'): -0.6616934351623058,
   ('FuNNeVI', 'PICP'): 0.8640776872634888,
   ('FuNNeVI', 'MPIW'): 12.402016639709473,
   ('FuNNeVI', 'time [s]'): 85.34516256535426}},
 {'energy': {('FuNNeVI', 'RMSE'): 0.3850327730178833,
   ('FuNNeVI', 'LPP'): 1.7705556154251099,
   ('FuNNeVI', 'WAIC'): 1.711369838565588,
   ('FuNNeVI', 'PICP'): 0.8831169009208679,
   ('FuNNeVI', 'MPIW'): 1.1728618144989014,
   ('FuNNeVI', 'time [s]'): 74.89600473735482}},
 {'powerplant': {('FuNNeVI', 'RMSE'): 3.6465864181518555,
   ('FuNNeVI', 'LPP'): 0.12213189154863358,
   ('FuNNeVI', 'WAIC'): -4.400472573935986,
   ('FuNNeVI', 'PICP'): 0.9655172228813171,
   ('FuNNeVI', 'MPIW'): 15.185142517089844,
   ('FuNNeVI', 'time [s]'): 486.0804427159019}},
 {'wine': {('FuNNeVI', 'RMSE'): 0.6998839974403381,
   ('FuNNeVI', 'LPP'): -1.6569191217422485,
   ('FuNNeVI', 'WAIC'): -1.6681362008675933,
   ('FuNNeVI', 'PICP'): 0.8125,
   ('FuNNeVI', 'MPIW'): 1.6407232284545898,
   ('FuNNeVI', 'time [s]'): 129.82152938935906}},
 {'yacht': {('FuNNeVI', 'RMSE'): 1.0883225202560425,
   ('FuNNeVI', 'LPP'): 1.1780527830123901,
   ('FuNNeVI', 'WAIC'): 1.138151615858078,
   ('FuNNeVI', 'PICP'): 0.9354838728904724,
   ('FuNNeVI', 'MPIW'): 3.335503101348877,
   ('FuNNeVI', 'time [s]'): 26.05368172377348}}]